body, html {
    height: 100%;
}
.bg {
    background-image: url('../images/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#post-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 40%;
    padding: 150px 0;

}

#all-posts {
    background-color: orange;
    color: black;
    margin: 10px;
    padding: 6px;
    cursor: pointer;
}

#create-post {
    background-color: orange;
    color: black;
    margin: 10px;
    padding: 6px;
    cursor: pointer;
}

#sign-in-modal {
    display: none;
}

#sign-up-btn-2 {
    cursor: pointer;
    background-color: rgb(22, 192, 22);
    padding: 5px;
}

#sign-up-modal {
    display: none;
    
}

#modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    margin: 0;
}

h2 {
    float: left;
}

.close {
    float: right;
    vertical-align: middle;
}

input {
    padding: 5px;
}

label {
    font-weight: bold;
}

#sign-in-btn {
    background-color: rgb(22, 192, 22);
    padding: 5px;
}

#sign-up-btn {
    background-color: rgb(22, 192, 22);
    padding: 5px;
}

#create-btn {
    background-color: rgb(22, 192, 22);
    padding: 5px;
}